## Descriptive Statistics

 Import **NumPy**, **SciPy**, and **Pandas**

In [27]:
import numpy as np
import scipy as sp
import pandas as pd

 Randomly generate 1,000 samples from the normal distribution using `np.random.normal()`(mean = 100, standard deviation = 15)

In [62]:
samples = np.random.normal(100, 15, size = 1000)

Compute the **mean**, **median**, and **mode**

In [41]:
from scipy import stats
mean = samples.mean()
median = np.median(samples)
mode = stats.mode(samples)

Compute the **min**, **max**, **Q1**, **Q3**, and **interquartile range**

In [32]:
min = samples.min()
max = samples.max()
q1 = np.percentile(samples, 25)
q3 = np.percentile(samples, 75)
iqr = q3 - q1

Compute the **variance** and **standard deviation**

In [34]:
variance = samples.var()
std_dev = samples.std()

Compute the **skewness** and **kurtosis**

In [52]:
skewness = stats.skew(samples)
kurtosis = stats.kurtosis(samples)

## NumPy Correlation Calculation

Create an array x of integers between 10 (inclusive) and 20 (exclusive). Use `np.arange()`

In [55]:
x = np.arange(10, 20)

Then use `np.array()` to create a second array y containing 10 arbitrary integers.

In [58]:
y = np.array([4,2,7,8,1,3,9,11,14,23])

Once you have two arrays of the same length, you can compute the **correlation coefficient** between x and y

In [68]:
r = np.corrcoef(x, y)

## Pandas Correlation Calculation

Run the code below

In [64]:
x = pd.Series(range(10, 20))
y = pd.Series([2, 1, 4, 5, 8, 12, 18, 25, 96, 48])

Call the relevant method  to calculate Pearson's r correlation.

In [69]:
r = x.corr(y)

OPTIONAL. Call the relevant method to calculate Spearman's rho correlation.

In [71]:
rho = x.corr(y, method = 'spearman')

## Seaborn Dataset Tips

Import Seaborn Library

In [72]:
import seaborn as sns

Load "tips" dataset from Seaborn

In [73]:
tips = sns.load_dataset("tips")

Generate descriptive statistics include those that summarize the central tendency, dispersion

In [74]:
tips.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

Call the relevant method to calculate pairwise Pearson's r correlation of columns

In [75]:
tips.corr()

            total_bill       tip      size
total_bill    1.000000  0.675734  0.598315
tip           0.675734  1.000000  0.489299
size          0.598315  0.489299  1.000000